<?xml version="1.0"?>
<config>
    <modules>
        <P3chat_Chat>
            <version>0.1.1</version>
        </P3chat_Chat>
    </modules>
    <frontend>
        <routers>
            <P3chat_Chat>
                <use>standard</use>
                <args>
                    <module>P3chat_Chat</module>
                    <frontName>p3chat</frontName>
                </args>
            </P3chat_Chat>
        </routers>
        <layout>
            <updates>
                <P3chat_Chat>
                    <file>p3chat.xml</file>
                </P3chat_Chat>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <P3chat_Chat>
                <use>admin</use>
                <args>
                    <module>P3chat_Chat</module>
                    <frontName>p3chat</frontName>
                </args>
            </P3chat_Chat>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <chat translate="title" module="chat">
                <title>P3chat</title>
                <sort_order>1000</sort_order>
                <action>p3chat/admin/accountconfig</action>
            </chat>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <chat translate="title" module="chat">
                            <title>P3chat Live Chat</title>
                            <sort_order>1000</sort_order>
                            <action>p3chat/admin/accountconfig</action>
                        </chat>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <chat>
                <class>P3chat_Chat_Helper</class>
            </chat>
        </helpers>
        <blocks>
            <chat>
                <class>P3chat_Chat_Block</class>
            </chat>
        </blocks>
        <resources>
            <p3chat_setup>
                <setup>
                    <module>P3chat_Chat</module>
                    <class>P3chat_Chat_Model_Resource_Setup</class>
                </setup>
            </p3chat_setup>
        </resources>
        <models>
            <chat>
                <class>P3chat_Chat_Model</class>
                <resourceModel>chat_resource</resourceModel>
            </chat>
            <chat_resource>
                <class>P3chat_Chat_Model_Resource</class>
                <entities>
                    <department>
                        <table>p3chat_department</table>
                    </department>
                </entities>
            </chat_resource>
        </models>
    </global>
</config>